@import "common.css";

.main section{
    padding-top:80px;
    padding-bottom:120px;
}
.main section .title{
    font-size:32px;
    font-weight:700;
}
.main section .desc{
    margin-top:24px;
    margin-bottom:26px;
}

